* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

li {
}

ul {
    list-style-type: none;

}

#fullSize {
    height: 100%;
    width: 100%;
    overflow:auto;        /* hidden, auto. Change to "hidden" to get rid of scroll bar -> Would need to adjust size of player boxes */
}

.teamOverviewBanner {
    /*position: fixed;*/
    /*z-index: 10;*/
    background-color: red;
    text-align: center;
    padding: 0px;

}
#homeTeam {
    border-style: solid none solid solid;

}
#homeTeamName {
    border: solid black 1px;

}

#awayTeam {
    border-style: solid solid solid none;
}
#awayTeamName {
    border: solid black 1px;
}


.playerList ul li {
    font-size: 20px;
    background-color: whitesmoke;
    color: black;
    font-weight: bold;
    text-align: center;
    border: solid black 1px;
    /*margin: 2px; */
    padding: 15px 0px 15px 0px;
    word-wrap: break-word;
    /*fix height later. something with padding on playerlists */
}

.leftPanel {
    background-color: gray;
    /*height: 370px;*/
    height: 100%;
}
.leftPanel ul {
    /*max-height: 370px;*/
    height: 100%;
    overflow: auto;
}

.statPanel {
    background-color: white;
    /*max-height: 370px;*/
    height: 100%;
    overflow: auto;
}

.rightPanel {
    background-color: gray;
    height: 100%;
}
.rightPanel ul {
    /*max-height: 370px;*/
    height: 100%;
    overflow: auto;
}

.buttonPanel {
    /*height: 170px;*/

}

.buttonRow {
    background: url('../basketball-floor.jpg');
}

.btn-group-row {
    display: block;
    margin: 0 auto;
}

.leftButtonPanel {
    height: inherit;
    border: solid black  1px;
    /*padding-top: 6%;*/

}

.centerButtonPanel {
    height: inherit;
    border: solid black 1px;
    text-align: center;
    /*padding-top: 1.3%;*/
}

.rightButtonPanel {
    height: inherit;
    border: solid black  1px;
    /*padding-top: 6%;*/
}

.benchHeader {
    pointer-events: none;
}

#regStatsButton {
    margin-top: 50%;
}

.row,
.optionBox,
.buttonPanel,
.doneBox {
    height: 100%;
}
.teamOverviewBanner {
    height: 10%;
}
.midSection {
    height: 55%;
}
.bottomSection {
    height: 35%;
}

/*
    1. Hardcourt background for button panel / other?
    2. Banner color or background?
    3. Drop side panels when xs
*/
