* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    width: 100%;
}

ul {
    list-style-type: none;

}

#fullSize {
    height: 100%;
    width: 100%;
    overflow:auto;        /* hidden, auto. */
}

.teamOverviewBanner {
    background-color: slategray;
    /*text-align: center;*/
}
#poss {
    margin: 0px;
    border: solid 1px black;
    cursor: pointer;
}
#homeArrow,
#awayArrow{
    color: white;
    padding-left: 80px;
}

.teamNameInput {
    margin-top: 27px;
}
#homeTeamScore,
#awayTeamScore,
.teamName,
.mobileDropdown{
    color: white;
}
#homeTeamScore,
#awayTeamScore {
    font-size: 36px;
    margin-top: 15px;
}

.teamRandomStats p {
    color: white;
}

.playerList ul li {
    font-size: 20px;
    color: black;
    font-weight: bold;
    text-align: center;
    border: solid black 1px;
    padding: 15px 0px 15px 0px;
    word-wrap: break-word;
}

.leftPanel {
    background-color: gray;
    height: 100%;
}
.leftPanel ul {
    height: 100%;
}

.statPanel {
    background-color: white;
    height: 100%;
    overflow: auto;
}

.rightPanel {
    height: 100%;
}
.rightPanel ul {
    height: 100%;
    overflow: auto;
}

.buttonRow {
    background: url('../basketball-floor.jpg');
}

.btn-group-row {
    display: block;
    margin: 0 auto;
}

.leftButtonPanel {
    height: inherit;
}

.centerButtonPanel {
    height: inherit;
    text-align: center;
}

.rightButtonPanel {
    height: inherit;
}

.benchHeader {
    pointer-events: none;
}

#regStatsButton, #advStatsButton {
    margin-top: 30%;
}

.row,
.optionBox,
.buttonPanel,
.doneBox {
    height: 100%;
}
.teamOverviewBanner {
    height: 10%;
}
.midSection {
    height: 55%;
}
.bottomSection {
    height: 35%;
}

.optionBox {
    height: inherit;
}

.bottomSectionButton{
    margin-top: 30%;
}

.activeli {
    background-color: #d9edf7;
}
.playerNameList:hover {
    background-color: #c7c7c7;

}

.nameInputs {
    border-color: #ccc;
    border-color: rgba(82,168,236,.8);
    outline: 0;
    outline: thin dotted\9;
    -webkit-box-shadow: 0 0 8px rgba(82,168,236,.6);
    box-shadow: 0 0 8px rgba(82,168,236,.6);

}
.moveButton {
    width: 55px;
    border-radius: 25px;
    background-color: #babaa7;
    cursor: pointer;
    margin: 5px auto 5px auto;
    text-align:center;
    color: white;
}

.hereButton {
    width: 55px;
    border-radius: 25px;
    background-color: green;
    cursor: pointer;
    margin: 5px auto 5px auto;
    text-align:center;
    color: white;
}

.movePlayer {
    background-color: #c7c7c7;
}

.disabled {
    pointer-events: none;
    opacity: .25;
}

.regStat {
    width: 70px;
}

.teamRandomStats p {
    font-size: 15px;
}

.playerDropdown {
    text-align: left;
    display:inline-block;
    padding-right: 10px;
}
.statDropdown {
    text-align: right;
    display:inline-block;
    padding-left: 10px;
}

.teamOverviewBanner>ul>li>a {
    color: black;
}

.mobileConfirmAll {
    padding-bottom: 10px;
}
.changeFieldGoalStatDisplay,
.change3PointStatDisplay,
.changeFreeThrowStatDisplay {
    cursor: pointer;
}
